
/hosuk/Fish_Dataset
hosuk/module/__pycache__/DataPreprocessing.cpython-310.pyc
hosuk/module/__pycache__/CNN.cpython-310.pyc
/injun/Wildfire
/hosuk/Wildfire
/injun/fire
/injun/sport
hosuk/module/__pycache__/TorchDataset.cpython-312.pyc
hosuk/module/__pycache__/CustomDataset.cpython-312.pyc
